@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

:root {
  --primary-color: #6f42c1;
  --white: #fff;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --gray: #808080;
  --light-gray: #eee;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7.5rem;
}

section {
  padding: 5rem 9%;
}

.heading {
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
  text-align: center;
  position: relative;
  padding-bottom: 2rem;
}

.heading-txt{
  color: #000;
}

.heading::after {
  content: '';
  position: absolute;
  border-bottom: 0.2rem solid var(--primary-color);
  width: 10rem;
  bottom: 1rem;
  left: 50%;
  display: inline-block;
  margin-left: -5rem;
}

/* home */
.home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url('images/zzz.png') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
}

.home h1 {
  color: var(--white);
  font-size: 8rem;
  text-align: center;
  letter-spacing: 0.2rem;
}
/* home */

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  z-index: 100;
}

.header.active {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: var(--box-shadow);
}

.header .logo {
  font-size: 2rem;
  color: var(--white);
  letter-spacing: 0.5rem;
  margin-right: auto;
}

.header img {
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 10px;
}

.header .navbar a {
  font-size: 2rem;
  color: var(--white);
  margin-left: 2rem;
  font-weight: 300;
}

.header .menu {
  font-size: 2.5rem;
  color: var(--white);
  cursor: pointer;
  display: none;
}

.header .navbar a:hover {
  color: var(--primary-color);
}
/* header */

/* about */
.about .box-container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.about .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
  color: var(--white);
  text-transform: none;
}
/* about */

/* artikel */
.artikel {
  background-color: var(--light-gray);
}

.artikel .box-container .box .image {
  height: 40rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

.artikel .box-container .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artikel .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
}

.artikel .box-container .box {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.artikel .box-container .box .info {
  text-align: center;
}

.artikel .box-container .box .info h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.artikel .box-container .box .info p {
  font-size: 1.5rem;
  padding: 1.5rem;
  line-height: 2;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
  color: var(--gray);
  text-transform: none;
}

.artikel .box-container .box .image img:hover {
  /* animasi zoom in image */
  transform: scale(1.1);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.noselect button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: black;
  background: white;
  border: 2px solid black;
  box-shadow: 5px 5px 0 black,
    -5px -5px 0 black,
    -5px 5px 0 black,
    5px -5px 0 black;
  transition: 500ms ease-in-out;
}

.noselect button:hover {
  box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

.noselect button:focus {
  outline: none;
}

/* artikel */

/* artikel blog */
.artikel-blog .box-container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artikel-blog .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.artikel-blog .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
  color: var(--gray);
  text-transform: none;
}

/* artikel blog */

/* contact */
.contact .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.contact .box-container .box .form-group ion-icon {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.contact .box-container .box .form-group span {
  font-size: 2rem;
  margin-left: 1rem;
}

.contact .box-container .box .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contact .box-container .box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.contact .box-container .box input {
  border: 0.1rem solid #000;
  padding: 1rem;
  margin-bottom: 1rem;
}

.contact .box-container .box textarea {
  border: 0.1rem solid #000;
  padding: 1rem;
}

.contact .box-container .box button {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;
}

.contact .box-container .box button:hover {
  background-color: var(--primary-color);
  color: var(--white);
}
/* contact */

/* modal */
.klmpk_title{
  font-size: 25px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: #000;
}

.klmpk_name {
  font-weight: 600;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  color: #000;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modal__footer {
  text-align: right;
  color: #000;

  a {
    color: #585858;
  }

  i {
    color: #d02d2c;
  }
}

.modal__close {
  position: absolute;
  top: -5px;
  right: 10px;
  color: #585858;
  text-decoration: none;
  font-size: 30px;
}
/* modal */

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.2rem solid var(--light-gray);
}

.footer .socials ion-icon {
  font-size: 2.5rem;
  color: var(--primary-color);
  background-color: var(--light-gray);
  border-radius: 50%;
  padding: 1rem;
  margin-right: 1.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.footer .socials ion-icon:hover {
  background-color: var(--primary-color);
  color: var(--light-gray);
}

.footer .copyright p {
  font-size: 1.5rem;
}
/* footer */

/* media queries */
@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 768px) {
  .header .navbar {
    position: fixed;
    top: 7rem;
    left: 0;
    right: 0;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box-shadow);
    transform: translateX(-90rem);
  }

  .header .navbar.show {
    transform: translateX(0);
  }

  .header .navbar a {
    color: #000;
    margin: 0;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .header .menu {
    display: block;
  }

  .header .menu.rotate {
    transform: rotate(90deg);
  }

  .home h1 {
    font-size: 6rem;
  }

  
  
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .home h1 {
    font-size: 4rem;
  }

  .heading {
    font-size: 3rem;
  }
}
/* media queries */
